# Integers and NaN in Pandas/Numpy

In [1]:
import pandas as pd
import numpy as np

## Create a dataframe with floats and an NaN

In [4]:
 pd.DataFrame([1.0, 2.0, np.nan, 4.0], columns=['floats'], dtype=float)

   floats
0     1.0
1     2.0
2     NaN
3     4.0

## What happens when doing integers?
## The NaN is converted to a big negative number.

In [5]:
pd.DataFrame([1, 2, np.nan, 4], columns=['ints'], dtype=int)

                  ints
0                    1
1                    2
2 -9223372036854775808
3                    4

## We can see this is a problem at the numpy level

In [6]:
np.array([1, 2, 3, np.nan], dtype=np.int64)

ValueError: cannot convert float NaN to integer

## If you want integers and Nan in the same array use the 'object' dtype

In [7]:
np.array([1, 2, 3, np.nan], dtype=np.object)

array([1, 2, 3, nan], dtype=object)

## We can see that the values are int

In [8]:
temp = np.array([1, 2, 3, np.nan], dtype=np.object)

# Index 0 has the number one
temp[0]

1

## INdex 0 is a type 'int'

In [9]:
type(temp[0])

int

## Index 3 is a float

In [10]:
type(temp[3])

float